<div class="footer">
  <a class="label swc-blue-bg" 
  href="http://www.nist.gov/public_affairs/privacy.cfm#privpolicy">Privacy Policy</a>
  <a class="label swc-blue-bg" 
  href="http://www.nist.gov/public_affairs/privacy.cfm#secnot">Security Notice</a>
  <a class="label swc-blue-bg" 
  href="http://www.nist.gov/public_affairs/privacy.cfm#accesstate">Accessiblity Statement</a>
  <a class="label swc-blue-bg"
  href="http://www.nist.gov/public_affairs/disclaimer.cfm">Disclaimer</a>
  <a class="label swc-blue-bg" href="LICENSE.html">License</a>
  <a class="label swc-blue-bg" href="{{site.swc_blog}}">Blog</a>
  <a class="label swc-blue-bg" href="{{site.swc_github}}">GitHub</a>
  <a class="label swc-blue-bg" href="{{site.swc_twitter}}">Twitter</a>
  <a class="label swc-blue-bg" href="{{site.workshop_repo}}/issues/">Issues</a>
</div>
