<link rel="shortcut icon" type="image/x-icon" href="{{site.swc_site}}/v5/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="{{page.root}}/css/bootstrap/bootstrap.css"  />
<link rel="stylesheet" type="text/css" href="{{page.root}}/css/swc.css" />
<link rel="alternate" type="application/rss+xml" title="The Software Carpentry Blog" href="{{config.site}}/feed.xml"/>
<meta charset="UTF-8" />
<meta http-equiv="last-modified" content="{{site.timestamp}}" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="{{ site.baseurl }}/static/css/nist_github_header.css">
<header class="nist-header">
        <h1>
          <a class="nist-logo" href="http://www.nist.gov/" title="Go to nist.gov">National Institute of Standards and Technology</a>
        </h1>
        <div class="nist-links">
          <a class="nist-links-button" href="http://www.nist.gov">NIST Website</a>
          <a class="nist-links-button mobile-hide" href="http://www.nist.gov/public_affairs/nandyou.cfm">About NIST</a>
          <a class="nist-links-button mobile-hide" href="https://github.com/usnistgov">usnistgov on Github</a>
        </div>
</header>
